Repository tektoncd/cli, pull requests merged in 2021-01, with the labels that each got.

#1277 Fix tkn version with no kubeconfig
  pkg/cmd/version/version.go
Labels: approved, lgtm, release-note-none, size/S

#1262 Add support for showing logs for retried taskruns
  pkg/cmd/taskrun/logs_test.go
  pkg/log/pipeline_reader.go
  pkg/log/reader.go
  pkg/log/task_reader.go
  pkg/pipelinerun/tracker.go
  pkg/taskrun/taskrun.go
  test/README.md
Labels: approved, lgtm, ok-to-test, release-note, size/L

#1279 Support --clustertask Option for tkn tr delete
  docs/cmd/tkn_taskrun_delete.md
  docs/man/man1/tkn-taskrun-delete.1
  pkg/cmd/taskrun/delete.go
  pkg/cmd/taskrun/delete_test.go
Labels: approved, lgtm, release-note, size/L

#1287 tkn completion command will bail out if something unexpected is passed
  docs/cmd/tkn_completion.md
  docs/man/man1/tkn-completion.1
  pkg/cmd/completion/completion.go
  pkg/cmd/completion/completion_test.go
Labels: approved, lgtm, ok-to-test, release-note, size/M
