Repository tektoncd/cli, pull requests merged in 2023-10, with the labels that each got.

#2139 Build deterministic bundles by default
  docs/cmd/tkn_bundle_push.md
  docs/man/man1/tkn-bundle-push.1
  pkg/cmd/bundle/push.go
  pkg/cmd/bundle/push_test.go
Labels: lgtm, approved, size/M, ok-to-test, release-note

#2147 Update docs for v0.32.1
  README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, release-note

#2148 Update README for v0.32.2
  README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, release-note

#2152 Update releases.md with latest patch releases
  releases.md
Labels: lgtm, approved, size/S, release-note
