Repository tektoncd/cli, pull requests merged in 2023-06, with the labels that each got.

#2048 Fix tkn p start --showlog by handling informer ResourceEventHandler
  pkg/pipelinerun/tracker.go
Labels: lgtm, approved, size/M, release-note

#2062 Bump tkn to v0.31.1 in docs
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, ok-to-test, release-note

#2068 Bump golangci-lint to 1.53.3
  Makefile
  tekton/release-pipeline.yml
Labels: size/XS, lgtm, approved, release-note
