Repository tektoncd/cli, pull requests merged in 2023-09, with the labels that each got.

#2114 Bumps Hub to v1.14.0
  docs/cmd/tkn_hub_upgrade_task.md
  docs/man/man1/tkn-hub-upgrade-task.1
  go.mod
  go.sum
  vendor/github.com/google/uuid/.travis.yml
  vendor/github.com/google/uuid/CHANGELOG.md
  vendor/github.com/google/uuid/CONTRIBUTING.md
  vendor/github.com/google/uuid/README.md
  vendor/github.com/google/uuid/node_js.go
  vendor/github.com/google/uuid/uuid.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/cmd/upgrade/upgrade.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/gvr/gvr.go
  vendor/github.com/tektoncd/hub/api/pkg/cli/installer/kube_action.go
  vendor/github.com/tektoncd/hub/api/v1/gen/catalog/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/catalog/endpoints.go
  vendor/github.com/tektoncd/hub/api/v1/gen/catalog/service.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/cli.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/encode_decode.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/paths.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/catalog/client/types.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/cli.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/encode_decode.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/paths.go
  vendor/github.com/tektoncd/hub/api/v1/gen/http/resource/client/types.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/client.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/endpoints.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/service.go
  vendor/github.com/tektoncd/hub/api/v1/gen/resource/views/view.go
  vendor/goa.design/goa/v3/http/client.go
  vendor/goa.design/goa/v3/http/encoding.go
  vendor/goa.design/goa/v3/pkg/endpoint.go
  vendor/goa.design/goa/v3/pkg/error.go
  vendor/goa.design/goa/v3/pkg/validation.go
  vendor/goa.design/goa/v3/pkg/version.go
  vendor/golang.org/x/mod/semver/semver.go
  vendor/golang.org/x/mod/sumdb/note/note.go
  vendor/golang.org/x/text/unicode/norm/trie.go
  vendor/golang.org/x/tools/go/packages/golist.go
  vendor/golang.org/x/tools/go/packages/packages.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/event/tag/tag.go
  vendor/golang.org/x/tools/internal/gcimporter/iexport.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gocommand/invoke.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go117.go
  vendor/golang.org/x/tools/internal/typeparams/typeparams_go118.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/modules.txt
Labels: lgtm, approved, size/XXL, release-note

#2121 Bump tkn to v0.32.0 in readme and chocolatey
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, release-note-none, kind/misc

#2126 Bump golangci-lint to v1.54.2
  .golangci.yml
  Makefile
  pkg/cmd/clustertask/list.go
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/list.go
  pkg/pipelinerun/tracker_test.go
  tekton/release-pipeline.yml
  test/builder/builder.go
Labels: lgtm, approved, size/L, release-note-none

#2133 Reproducible/deterministic bundles
  docs/cmd/tkn_bundle_push.md
  docs/man/man1/tkn-bundle-push.1
  pkg/bundle/builder.go
  pkg/bundle/builder_test.go
  pkg/cmd/bundle/list_test.go
  pkg/cmd/bundle/push.go
  pkg/cmd/bundle/push_test.go
Labels: lgtm, approved, size/L, ok-to-test, release-note

#2134 fix package name for Arch linux
  README.md
Labels: size/XS, lgtm, approved, ok-to-test, release-note
