Repository tektoncd/cli, pull requests merged in 2024-02, with the labels that each got.

#2239 Bump docs to latest v0.35.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, release-note

#2226 Updated the README.md with prerequisites required for running the tests.
  test/README.md
Labels: lgtm, approved, size/M, release-note-none, ok-to-test

#2244 Fix triggertemplate describe command breaks backward compatibility
  go.mod
  go.sum
  pkg/cmd/triggertemplate/testdata/TestTriggerTemplateDescribe_WithOutputYaml.golden
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1alpha1/trigger_template_types.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1alpha1/trigger_template_validation.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1beta1/openapi_generated.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1beta1/trigger_template_types.go
  vendor/github.com/tektoncd/triggers/pkg/apis/triggers/v1beta1/trigger_template_validation.go
  vendor/knative.dev/serving/AUTHORS
  vendor/knative.dev/serving/pkg/apis/config/features.go
  vendor/knative.dev/serving/pkg/apis/serving/fieldmask.go
  vendor/knative.dev/serving/pkg/apis/serving/k8s_validation.go
  vendor/knative.dev/serving/pkg/apis/serving/v1/revision_defaults.go
  vendor/knative.dev/serving/pkg/apis/serving/v1/revision_helpers.go
  vendor/knative.dev/serving/pkg/apis/serving/v1/route_lifecycle.go
  vendor/modules.txt
Labels: lgtm, approved, size/L, release-note

#2255 Drafted a basic doc for tkn-plugins to resolve issue #1273
  docs/tkn-plugins.md
Labels: lgtm, approved, size/S, release-note-none, ok-to-test

#2257 Add labeling support to `tkn bundle push`
  docs/cmd/tkn_bundle_push.md
  docs/man/man1/tkn-bundle-push.1
  pkg/bundle/builder.go
  pkg/bundle/builder_test.go
  pkg/cmd/bundle/list_test.go
  pkg/cmd/bundle/push.go
  pkg/cmd/bundle/push_test.go
Labels: lgtm, approved, size/M, ok-to-test, release-note

#2251 Fix logs command not showing logs
  pkg/cmd/taskrun/logs_test.go
  pkg/log/task_reader.go
  test/e2e/pipeline/start_test.go
  test/resources/pipeline.yaml
Labels: lgtm, approved, size/M, release-note
