Repository tektoncd/cli, pull requests merged in 2024-08, with the labels that each got.

#2362 Deleting a customrun on the basis of name
  docs/cmd/tkn_customrun.md
  docs/cmd/tkn_customrun_delete.md
  docs/man/man1/tkn-customrun-delete.1
  docs/man/man1/tkn-customrun.1
  pkg/cmd/customrun/customrun.go
  pkg/cmd/customrun/delete.go
  pkg/cmd/customrun/delete_test.go
Labels: lgtm, approved, size/XL, ok-to-test, release-note

#2379 Bump to golangci-lint v1.60.1
  Makefile
  pkg/formatted/color.go
  pkg/log/pipeline_reader.go
  pkg/params/validation.go
  pkg/pods/pod.go
  pkg/workspaces/workspaces_test.go
  tekton/release-pipeline.yml
  tools/go.mod
Labels: lgtm, approved, size/M, release-note

#2373 Re-use printer for multiple elements
  pkg/actions/get.go
  pkg/actions/list.go
  pkg/cmd/bundle/list.go
  pkg/cmd/bundle/list_test.go
  pkg/cmd/clustertask/describe.go
  pkg/cmd/clustertask/list.go
  pkg/cmd/clustertriggerbinding/describe.go
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/customrun/list.go
  pkg/cmd/eventlistener/describe.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/pipeline/describe.go
  pkg/cmd/pipeline/list.go
  pkg/cmd/pipelinerun/describe.go
  pkg/cmd/pipelinerun/list.go
  pkg/cmd/task/describe.go
  pkg/cmd/task/list.go
  pkg/cmd/taskrun/describe.go
  pkg/cmd/taskrun/list.go
  pkg/cmd/triggerbinding/describe.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/describe.go
  pkg/cmd/triggertemplate/list.go
  pkg/printer/printer.go
Labels: lgtm, approved, size/L, release-note

#2382 Move to goreleaser v2
  .goreleaser.yml
  tekton/release-pipeline.yml
Labels: size/XS, lgtm, approved, release-note

#2383 Update docs for 0.38.0 release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, release-note

#2387 Fix ubuntu launchpad build
  tekton/debbuild/control/control
  tekton/debbuild/control/rules
Labels: lgtm, approved, size/S, release-note

#2390 Refactored delete.go file for customrun
  pkg/cmd/customrun/delete.go
Labels: lgtm, approved, size/M, ok-to-test, release-note
