Repository tektoncd/cli, pull requests merged in 2024-01, with the labels that each got.

#2205 Adds hub version in output of `tkn version` command
  pkg/cmd/version/testdata/TestGetVersions-deployment_with_pipeline,_chains,_triggers,_dashboard,_hub_and_operator_installed.golden
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
  pkg/version/version.go
Labels: lgtm, approved, size/M, release-note

#2210 Bump golang and goreleaser versions
  tekton/release-pipeline.yml
Labels: size/XS, lgtm, approved, release-note-none

#2212 Bump tkn to latest version v0.34.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
  tekton/release-pipeline.yml
Labels: lgtm, approved, size/M, release-note-none

#2213 feat: add CustomRun commad with list
  docs/cmd/tkn.md
  docs/cmd/tkn_customrun.md
  docs/cmd/tkn_customrun_list.md
  docs/man/man1/tkn-customrun-list.1
  docs/man/man1/tkn-customrun.1
  docs/man/man1/tkn.1
  pkg/cmd/customrun/customrun.go
  pkg/cmd/customrun/list.go
  pkg/cmd/customrun/list_test.go
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-all_in_namespace.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-by_output_as_name.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-empty_list.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-error_from_invalid_namespace.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-filter_customruns_by_label.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-filter_customruns_by_label_with_in_query.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_greater_than_maximum_case.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_negative_case.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_returned_to_1.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-limit_customruns_with_output_flag_set.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_by_template.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_customruns_in_all_namespaces.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_customruns_in_all_namespaces_without_headers.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_customruns_without_headers.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_in_reverse.golden
  pkg/cmd/customrun/testdata/TestListCustomRuns_v1beta1-print_in_reverse_with_output_flag.golden
  pkg/cmd/root.go
  pkg/cmd/testdata/TestPluginList.golden
  pkg/customrun/sort/by_namespace.go
  pkg/customrun/sort/by_namespace_test.go
  pkg/customrun/sort/by_start_time.go
  pkg/customrun/sort/by_start_time_test.go
  pkg/test/builder/unstructured.go
  pkg/test/dynamic/clientset/tekton.go
  pkg/test/dynamic/dynamictestclient.go
  test/e2e/customrun/list_test.go
  test/resources/customrun/customrun.yaml
Labels: lgtm, approved, size/XXL, ok-to-test, release-note

#2228 Bump hashicorp/vault/api to v1.11.0
  go.mod
  go.sum
  vendor/github.com/hashicorp/vault/api/.copywrite.hcl
  vendor/github.com/hashicorp/vault/api/client.go
  vendor/github.com/hashicorp/vault/api/logical.go
  vendor/github.com/hashicorp/vault/api/plugin_helpers.go
  vendor/github.com/hashicorp/vault/api/plugin_types.go
  vendor/github.com/hashicorp/vault/api/replication_status.go
  vendor/github.com/hashicorp/vault/api/request.go
  vendor/github.com/hashicorp/vault/api/secret.go
  vendor/github.com/hashicorp/vault/api/sys_capabilities.go
  vendor/github.com/hashicorp/vault/api/sys_hastatus.go
  vendor/github.com/hashicorp/vault/api/sys_health.go
  vendor/github.com/hashicorp/vault/api/sys_mounts.go
  vendor/github.com/hashicorp/vault/api/sys_plugins.go
  vendor/github.com/hashicorp/vault/api/sys_plugins_runtimes.go
  vendor/github.com/hashicorp/vault/api/sys_seal.go
  vendor/github.com/hashicorp/vault/api/sys_ui_custom_message.go
  vendor/modules.txt
Labels: lgtm, approved, size/XL, release-note
