Repository tektoncd/cli, pull requests merged in 2024-05, with the labels that each got.

#2298 Add -E flag to exit with the pr sate on unix shell
  docs/cmd/tkn_pipeline_start.md
  docs/cmd/tkn_pipelinerun_logs.md
  docs/man/man1/tkn-pipeline-start.1
  docs/man/man1/tkn-pipelinerun-logs.1
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipelinerun/logs.go
  pkg/cmd/pipelinerun/logs_test.go
  pkg/options/logs.go
Labels: lgtm, approved, size/L, release-note

#2308 Bump golangci-lint to v0.58.0
  .errcheck.txt
  .golangci.yml
  Makefile
  tekton/release-pipeline.yml
Labels: lgtm, approved, size/S, release-note

#2309 Group docker dep updates
  .github/dependabot.yml
Labels: size/XS, lgtm, approved, release-note

#2325 Fix links in doc to fix pre-commit
  RELEASE_PROCESS.md
  choco/README.md
  releases.md
Labels: lgtm, approved, size/S, release-note
