Repository tektoncd/cli, pull requests merged in 2024-03, with the labels that each got.

#2259 Prepare setup for moving e2e to kind
  test/e2e-tests-kind-prow.env
  test/e2e-tests.sh
Labels: lgtm, approved, size/S, release-note

#2260 Bump golangci-lint to v0.56.2
  Makefile
  cmd/docs/md_docs.go
  pkg/bundle/builder_test.go
  pkg/bundle/parser_test.go
  pkg/cli/prerun/prerun.go
  pkg/cmd/bundle/list.go
  pkg/cmd/bundle/push.go
  pkg/cmd/clustertask/describe_test.go
  pkg/cmd/clustertask/list.go
  pkg/cmd/clustertriggerbinding/list.go
  pkg/cmd/customrun/list.go
  pkg/cmd/eventlistener/list.go
  pkg/cmd/pipeline/list.go
  pkg/cmd/pipeline/start.go
  pkg/cmd/pipelinerun/cancel_test.go
  pkg/cmd/task/describe_test.go
  pkg/cmd/task/list.go
  pkg/cmd/task/start.go
  pkg/cmd/taskrun/cancel_test.go
  pkg/cmd/triggerbinding/list.go
  pkg/cmd/triggertemplate/list.go
  pkg/cmd/version/version.go
  pkg/cmd/version/version_test.go
  pkg/flags/flags.go
  pkg/options/describe.go
  pkg/options/logs.go
  pkg/pods/pod.go
  tekton/release-pipeline.yml
  test/framework/helper.go
Labels: lgtm, approved, size/M, release-note

#2269 Bump golang to 1.21 as minimum requirement
  go.mod
  go.sum
  tekton/release-pipeline.yml
  tools/go.mod
  tools/go.sum
Labels: lgtm, approved, size/XXL, release-note

#2275 Bump tkn to v0.36.0
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, release-note-none

#2281 Add 0.35.2 in LTS doc
  releases.md
Labels: size/XS, lgtm, approved, release-note

#2282 Enable dependabot on github actions
  .github/dependabot.yml
Labels: size/XS, lgtm, approved, release-note

#2285 Fix codeql github action
  .github/workflows/codeql-analysis.yml
Labels: lgtm, approved, size/S, release-note
