Repository tektoncd/cli, pull requests merged in 2025-02, with the labels that each got.

#2468 Add buffer for pod event
  pkg/pods/pod.go
Labels: size/XS, lgtm, approved, ok-to-test, release-note

#2482 Bump clockwork from 0.4.0 to 0.5.0
  go.mod
  go.sum
  pkg/test/helpers.go
  vendor/github.com/jonboulle/clockwork/README.md
  vendor/github.com/jonboulle/clockwork/SECURITY.md
  vendor/github.com/jonboulle/clockwork/clockwork.go
  vendor/github.com/jonboulle/clockwork/context.go
  vendor/github.com/jonboulle/clockwork/ticker.go
  vendor/github.com/jonboulle/clockwork/timer.go
  vendor/modules.txt
Labels: lgtm, approved, size/XL, release-note-none

#2483 Bump github.com/google/go-containerregistry from 0.20.2 to 0.20.3
  go.mod
  go.sum
  vendor/github.com/containerd/stargz-snapshotter/estargz/build.go
  vendor/github.com/containerd/stargz-snapshotter/estargz/testutil.go
  vendor/github.com/docker/docker-credential-helpers/client/client.go
  vendor/github.com/docker/docker-credential-helpers/credentials/error.go
  vendor/github.com/google/go-containerregistry/internal/redact/redact.go
  vendor/github.com/google/go-containerregistry/pkg/authn/keychain.go
  vendor/github.com/google/go-containerregistry/pkg/name/ref.go
  vendor/github.com/google/go-containerregistry/pkg/v1/mutate/mutate.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/referrers.go
  vendor/github.com/google/go-containerregistry/pkg/v1/remote/transport/bearer.go
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/flate/deflate.go
  vendor/github.com/klauspost/compress/flate/inflate.go
  vendor/github.com/klauspost/compress/fse/decompress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/github.com/vbatts/tar-split/archive/tar/reader.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/client.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/common.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/handler.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/request/resp_writer_wrapper.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/env.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/httpconv.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/util.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/internal/semconv/v1.20.0.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/start_time_context.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/transport.go
  vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/version.go
  vendor/modules.txt
Labels: lgtm, approved, size/XL, release-note-none

#2496 Use go v1.23.4 and bump goreleaser to v2.5.0
  .goreleaser.yml
  go.mod
  tekton/release-pipeline.yml
  tools/go.mod
Labels: lgtm, approved, size/S, release-note-none

#2505 Update readme for latest release
  README.md
  choco/README.md
  choco/tektoncd-cli.nuspec
  choco/tools/chocolateyinstall.ps1
  releases.md
Labels: lgtm, approved, size/M, release-note
